.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  text-align: center;
  justify-content: center;
}

mat-icon {
  color: rgb(0, 255, 0);
}

.external-service {
  height: 50%;
  margin: 10px;
}

.external-service:hover {
  cursor: pointer;
}
